/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Socialico";
    src: url("Socialico.eot") format("eot"), url("Socialico.woff") format("woff"), url("Socialico.ttf") format("truetype"), url("Socialico.svg#Socialico") format("svg");
    font-weight: normal;
    font-style: normal;
}
