body {
    font-family: Arial;
}

.main {
    display: block;
    margin: 0 auto;
    width: 1280px;
}

.product {}

.heading {
    display: block;
    width: 100%;
    height: 323px;
    box-sizing: border-box;
}

.block {
    display: block;
}

.heading__header {
    .arial400;
    font-size: 60px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    line-height: 46px;
    margin-left: -4px;
}

.list {
    .arial400;
    padding: 51px 0 0 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    padding-top: 39px;
    list-style-position: inside;
    .list__item {
        .fa {
            font-size: 25px;
            padding-right: 6px;
        }
    }
}

.heading__image {
    display: block;
    width: 469px;
    height: 214px;
}


/* about section*/

.about {
    box-sizing: border-box;
    width: 100%;
    height: 343px;
    .about_text {
        display: block;
        width: 654px;
    }
    .about__header {
        .arial400;
        font-size: 30px;
        line-height: 21px;
        text-align: left;
    }
    .block__text {
        .arial400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 11px;
    }
    .about__image {
        width: 430px;
        height: 245px;
    }
}


/* concurence section */

.concurence {
    box-sizing: border-box;
    width: 100%;
    height: 419px;
    .concurence__header {
        .arial400;
        font-size: 30px;
        line-height: 24px;
        text-align: center;
        position: relative;
        right: 2px;
    }
    .pluses__item {
        line-height: 23px;
        margin-bottom: 29px;
    }
    .pluses__image {
        width: 32px;
        height: 32px;
        float: left;
        padding-right: 9px;
        margin-bottom: 25px;
        position: relative;
        top: 4px;
        right: 1px;
    }
}


/* screenshots section */

.screenshots {
    box-sizing: border-box;
    width: 100%;
    height: 487px;
    padding-top: 52px !important;
    .screenshots__header {
        .arial400;
        font-size: 30px;
        line-height: 20px;
        text-align: center;
    }
    .screenshots-items {
        box-sizing: border-box;
        width: 50%;
    }
    .screenshots-items__item {}
    .screenshots-items__image {
        width: 200px;
        height: 150px;
        float: left;
        margin-right: 15px;
        margin-top: 5px;
    }
    .screenshots-items__header {
        .arial400;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 8px;
    }
    .screenshots-items__desc {
        .arial400;
        color: #333333;
        font-size: 16px;
        line-height: 23px;
        text-align: left;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}


/* reviews section */

.reviews {
    box-sizing: border-box;
    width: 100%;
    height: 424px;
    .reviews__header {
        .arial400;
        font-size: 30px;
        line-height: 22px;
        text-align: center;
    }
    .reviews__items {
        .block_half-size;
        &[class*=right-side] {
            padding-left: 16px;
        }
    }
    .reviews__item {}
    .image-wrapper {
        float: left;
    }
    .text-wrapper {
        float: left;
        width: 468px;
        margin-left: 29px;
        top: 1px;
        border-radius: 5px;
    }
    .reviews__image {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        float: left;
        margin-bottom: 50px;
    }
    .reviews__cite {
        display: block;
        padding: 11px 15px 12px 14px;
    }
    .reviews__cite-text {
        .arial400;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        text-align: left;
        margin-bottom: 5px;
        hyphens: auto;
        -ms-hypens: auto;
        -webkit-hyphens: auto;
    }
    .reviews__name {
        .arial400;
        color: #989898;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }
    .arrow_box {
        position: relative;
        background: @dark-cream;
    }
    .arrow_box:after {
        right: 100%;
        top: 25%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: @dark-cream;
        border-width: 12px;
        margin-top: -5px;
    }
}


/* pricing section */

.pricing {
    box-sizing: border-box;
    width: 100%;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pricing__header {
        .arial400;
        font-size: 30px;
        line-height: 23px;
        text-align: center;
    }
    .pricing-plans {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 72px;
    }
    .pricing-plan-standart,
    .pricing-plan-premium,
    .pricing-plan-lux {
        box-sizing: border-box;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 5px;
        border: 3px solid @grey;
    }
    .pricing-plans__name {
        .arial400;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 30px;
    }
    .pricing-plans__price {
        .arial400;
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        line-height: 30px;
    }
    .pricing-plans__options {
        .arial400;
        font-size: 14px;
        line-height: 23px;
        padding-left: 16px;
        list-style-position: inside;
        margin-top: 23px;
        position: relative;
        bottom: 8px;
    }
    .pricing-plans__list-item {
        margin-bottom: 1px;
    }
    .pricing-plans__btn-buy {
        .arial700;
        margin-top: 9px;
        margin-bottom: 17px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
        width: 260px;
        height: 40px;
        font-size: 18px;
        line-height: 18px;
    }
    .pricing-plan-standart {
        .pricing-plans__name {}
        .pricing-plans__options {
            margin-top: 20px;
            bottom: 6px;
            left: 1px;
        }
    }
    .pricing-plan-lux {
        .pricing-plans__options {
            margin-top: 22px;
        }
    }
}


/* contact section */

.contact {
    box-sizing: border-box;
    width: 100%;
    height: 509px;
    padding-left: 0 !important;
    .contact__header {
        .arial400;
        font-size: 30px;
        line-height: 26px;
        text-align: right;
        display: block;
        width: 700px;
    }
    .contact-form {
        float: left;
        padding-left: 249px !important;
    }
    .form {}
    .form__field {
        display: block;
        clear: both;
        border-radius: 5px;
        width: 500px;
        height: 40px;
        box-sizing: border-box;
        border: none;
        padding: 14px 10px;
    }
    .form__message {
        border-radius: 5px;
        width: 500px;
        height: 170px;
        box-sizing: border-box;
        display: block;
        clear: both;
        resize: none;
        border: none;
        padding: 7px 10px;
        margin-top: 22px;
    }
    .form__button {
        .arial700;
        display: block;
        border-radius: 5px;
        width: 140px;
        height: 40px;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        border: none;
        margin: 0 auto;
    }
    .form__field,
    .form__message {
        .arial400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: @grey;
    }
    .form__field:focus,
    .form__message:focus {
        .arial400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: @grey;
    }
    .form__field::placeholder,
    .form__message::placeholder,
    .form__field::-ms-placeholder,
    .form__message::-ms-placeholder,
    .form__field::-webkit-placeholder,
    .form__message::-webkit-placeholder {
        .arial400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: @grey;
    }
    .contact-list {
        float: left;
    }
    .contact-list__items {
        list-style-type: none;
        list-style-position: inside;
        margin-left: 46px;
    }
    .contact-list__item {
        .arial400;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        img {
            max-width: 26px;
            max-height: 26px;
            float: left;
            margin-right: 5px;
        }
        a {
            margin-right: 3px;
            text-decoration: none;
            color: @white;
            &:link {
                color: @white;
            }
            &:hover {
                color: @white;
            }
            &:visited {
                color: @white;
            }
        }
    }
    .contact-list__social-icons {
        .arial400;
        margin-left: 43px;
        font-family: 'Socialico';
        font-size: 60px;
        line-height: 24px;
        text-align: left;
        margin-top: 39px;
        a {
            margin-right: 2px;
            text-decoration: none;
            color: @white;
            &:link {
                color: @white;
            }
            &:hover {
                color: @white;
            }
            &:visited {
                color: @white;
            }
        }
    }
}


/* footer */

.footer {
    .arial400;
    display: block;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 27px;
    text-align: center;
}
