.clearfix {
    clear: both;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.section-padding {
    padding: 50px 50px 50px 50px;
}

.block_half-size {
    box-sizing: border-box;
    width: 50%;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

/* font */
.arial400() {
    font-family: Arial;
    font-weight: 400;
}
.arial700() {
    font-family: Arial;
    font-weight: 700;
}


/* background color */
.bg {
    &-white {
        background-color: @white;
    }
    &-grey {
        background-color: @grey;
    }
    &-cream {
        background-color: @cream;
    }
    &-dark-cream {
        background-color: @dark-cream;
    }
}
/* text color */
.text {
    &-white {
        color: @white;
    }
    &-grey {
        color: @grey;
    }
    &-grey-cream {
        color: @grey-cream;
    }
}


/* margin */

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}
